{{template "header"}}

<form method="GET">
    <label for="id">ID</label>
    <br>
    <input type="text" id="id" name="id">
    <br>
    <input type="submit">
</form>

<!-- TODO -->
<br>
<form method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="age">Age</label>
    <input type="number" id="age" name="age">
    <br>
    <label for="azimuth">Azimuth</label>
    <input type="number" id="azimuth" name="azimuth">
    <br>
    <label for="elevation">Elevation</label>
    <input type="number" id="elevation" name="elevation">
    <br>
    <label for="data">Data</label>
    <input type="" id="data" name="data">
    <br>
    <input type="submit">
</form>

<br>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="q">
    <br>
    <input type="submit">
</form>

<ul>
    <li>ID - {{.ID}}</li>
    <li>Name - {{.Name | uc | ft}}</li>
    <li>Age - {{.Age}}</li>
    <li>Azimuth - {{.Azimuth}}</li>
    <li>Elevation - {{.Elevation}}</li>
    <li>Data - {{.Data}}</li>
</ul>

{{template "header"}}

