{{template "header"}}

<h1>Welcome to the HRTF DataBase. What can I get you to improve your listening experience?</h1>
{{if .User}}
    <h2>Welcome {{.User.FirstName}} !!</h2>
    Here are your registration information.<br>
    USER NAME {{.User.UserName}}<br>
    PASSWORD {{.User.Password}}<br>
    FIRST {{.User.FirstName}}<br>
    LAST {{.User.LastName}}<br>
    <h2><a href="/logout">log out</a></h2>
{{end}}

<h1>Here is upload form</h1>

<form method="GET">
    <label for="id">ID</label>
    <br>
    <input type="text" id="id" name="id">
    <br>
    <input type="submit">
</form>

<!-- TODO -->
<br>
<form method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="age">Age</label>
    <input type="number" id="age" name="age">
    <br>
    <label for="azimuth">Azimuth</label>
    <input type="number" id="azimuth" name="azimuth">
    <br>
    <label for="elevation">Elevation</label>
    <input type="number" id="elevation" name="elevation">
    <br>
    <label for="data">Data</label>
    <input type="" id="data" name="data">
    <br>
    <input type="submit">
</form>

<br>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="q">
    <br>
    <input type="submit">
</form>

<ul>
    <li>ID - {{.HRTF.ID}}</li>
    <li>Name - {{.HRTF.Name | uc | ft}}</li>
    <li>Age - {{.HRTF.Age}}</li>
    <li>Azimuth - {{.HRTF.Azimuth}}</li>
    <li>Elevation - {{.HRTF.Elevation}}</li>
    <li>Data - {{.HRTF.Data}}</li>
</ul>

{{template "footer"}}

