{{template "header"}}

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <select name="role" id="sr">
        <option value="personal">personal use</option>
        <option value="enterprise">enterprise</option>
        <option value="education">education</option>
        <option value="student">student</option>
        <option value="academic">academic</option>
    </select>
    <input type="submit">

</form>

{{template "footer"}}
